---
title: Jubilee Church - A Pioneer church in Bromley Common
template: homepage.jade
---

h2 Welcome
p Welcome to the website of Jubilee Church, Bromley. We’re delighted you found us and hope you enjoy finding out more about <a href="/pages/who-we-are/">who we are</a> and what we do. Whether you are looking for a church to be part of, or are interested in finding out about God – or whether you are looking for activities for children, families or adults, you’ll receive a warm welcome from us.
p In addition to <a href="/pages/what-we-do/sunday-services/">our meetings at 10am on Sundays</a>, we have <a href="/pages/what-we-do/midweek-groups/">lots happening during the week</a>, such as specific groups for <a href="/pages/what-we-do/youth-and-children/">children and young people</a>, and aim to <a href="/pages/what-we-do/our-community/">serve our community</a>. Our main meeting venue is <a href="/pages/find-and-contact-us/#the-jubilee-centre">the Jubilee Centre in Southlands Road</a>. 
p Explore our website to find out more <a href="/pages/who-we-are/">about us</a>, including our <a href="/pages/who-we-are/#our-mission-and-values">mission and values, our <a href="/pages/what-we-do/sunday-services/">church services</a> and other activities in and around the <a href="/pages/find-and-contact-us/#the-jubilee-centre">Jubilee Centre</a>. You can also find out more information by <a href="/pages/find-and-contact-us/">contacting us</a>.
