extends layout

mixin nav(pageParent)
  nav
    ul.nav.nav-pills.nav-stacked.nav-side-j.tk-myriad-pro
      each pair in _.sortBy(_.pairs(pageParent),function(pair){ return pair[1] && pair[1].metadata && pair[1].metadata.weight ? pair[1].metadata.weight : 0; })
        - var filename = pair[0]
        - var sibling = pair[1]
        - var isCurrentPage = sibling == page
        if (!isCurrentPage)
          li
            a(href='#'+filename.split(".")[0])=sibling.title

block content
  - var leftRight = 0
  article.container
    .row
      .col-md-3
        +nav(page.parent)
      section.col-md-9.primary
        h1.tk-myriad-pro= page.title
        != page.html
    .row
      .col-md-9.col-md-offset-3 
        each pair in _.sortBy(_.pairs(page.parent),function(pair){ return pair[1] && pair[1].metadata && pair[1].metadata.weight ? pair[1].metadata.weight : 0; })
          - var filename = pair[0]
          - var sibling = pair[1]
            if (sibling != page)
              section.secondary
                a.heading-anchor(id=filename.split(".")[0])
                h1.tk-myriad-pro=sibling.title 
                if (sibling.metadata && sibling.metadata.image)
                  - leftRight = leftRight + 1
                  div(class='inline-img ' + (leftRight%2==0 ? 'right' : 'left'))
                    img(src=sibling.metadata.image)
                !=sibling.html 